.slider-bg {
    background-color: #fceae8;
}

.bg-color-watch {
    background-color: #ffa500;
}

.bg-color-bag {
    background-color: #da70d6;
}

.bg-color-shoes {
    background-color: #0000ff;
}

.btn-color {
    background-color: #ff4790;
}

.subcribe-background {
    background-color: #fceae8;
}